button {
	background: linear-gradient(rgb(253,253,254), rgb(240,240,241));
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.15), inset 0px 1px 0px 0px rgba(255,255,255,0.25);
	border: 1px solid rgb(151,151,151);
	border-radius: 3px;
	cursor: pointer;
}